<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="nivax-b5603600-208c-4bf8-b7f2-62765b7efbd2" Publisher="CN=Zoomerz" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Valentine Proposal Ideas</DisplayName>
    <PublisherDisplayName>Zoomerz</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="nivax.App">
      <VisualElements DisplayName="Valentine Proposal Ideas" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Valentine Proposal Ideas" ForegroundText="dark" BackgroundColor="#DED8D8">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\wideLogo.png" ShortName="Valentine Proposal Ideas" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#DED8D8" />
      </VisualElements>
    </Application>
  </Applications>
</Package>